<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./stylesheets/dutchpay.css" />
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.js"></script>
    <script src="./javascripts/dutchpayapp.js"></script>
    <script src="./javascripts/ctrl/welcomeCtrl.js"></script>
    <script src="./javascripts/ctrl/receiptCtrl.js"></script>
    <script src="./javascripts/svc/receiptsSvc.js"></script>
    <script src="./javascripts/svc/userSvc.js"></script>
    <script src="./javascripts/svc/modeSvc.js"></script>
    <script src="./javascripts/model/pools.js"></script>
    <script src="./javascripts/model/receipts.js"></script>
    <script src="./javascripts/model/user.js"></script>
    <script src="./javascripts/directives/dgSelectable.js"></script>
    <script src="./javascripts/directives/dgReceipt.js"></script>
    <script src="./javascripts/filters/receiptFilter.js"></script>
</head>
<body ng-app="DutchPayApp">
    <ng-view></ng-view>
</body>
</html>